/* Custom CSS */
/* Imports from Bootstrap */

@import "../bootstrap/css/bootstrap.min.css";

/* Global config */
*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 2000px;
}

/* NAVBAR */
.navbar {
    min-height: 80px;
    background-color: #526272;
}

.navbar i {
    color: #FFF;
}

.navbar-brand {
    padding-left: 0.2rem;
}

.navbar-brand img {
    width: 200px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-brand img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.nav-item {
    max-height: 52px;
    margin-right: 3rem;
}

.nav-link.active {
    color: #5CE1E6;
}

.navbar-nav a {
    font-size: 24px;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;

    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-nav a:hover {
    color: #5CE1E6;

    transition: all 0.5s ease;

    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.navbar-toggler i {
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-toggler i:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.collapse.navbar-collapse hr {
    color: #FFF;
}

/* HOME */
/*Resolução de Celular (300px pra cima)*/
@media handheld, (min-width:300px){
    .carousel-inner{
        width:100%;
        height: auto;
    }
    .carousel-inner img{
        object-fit: cover;
        min-height: 100vh;
        width: auto;
        display:inline-block
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px){
.carousel {
    width: 100%;
    height: auto;
    }
.carousel-inner img {
  margin: auto;
  max-height: 100vh;
  width: auto;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
.carousel {
    width: 100%;
    height: auto;
    }
.carousel-inner img {
  margin: auto;
  max-height: 100vh;
  width: auto;
    }
}

.carousel-control-next, .carousel-control-prev {
    width: 10%;
    opacity: 1;
}

/*ABOUT US*/
@media handheld, (min-width:300px){
    
}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}