/* Custom CSS */
/* Imports from Bootstrap */
@import "../bootstrap/css/bootstrap.min.css";

/**********************************/
/*             SUMMARY            */
/*
    1 - GLOBAL CONFIGS
    2 - NAVBAR
    3 - HOME
    4 - ABOUT
    5 - SERVICES
    6 - CONTACT
    7 - FOOTER
    8 - MEDIA QUERIES
*/

/**********************************/
/*          GLOBAL CONFIGS        */
/**********************************/
*{
    margin: 0px;
    padding: 0px;
}

body {
    color: #FFF;
    font-family: Poppins;
}

/**********************************/
/*              NAVBAR            */
/**********************************/
.navbar {
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
}

.navbar i {
    color: #FFF;
}

.navbar-brand img {
    width: 200px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-brand img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.nav-item {
    max-height: 52px;
    margin-right: 5rem;
}

.nav-link.active {
    color: #40E0D0;
}

.navbar-nav a {
    font-size: 24px;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;

    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-nav a:hover {
    color: #40E0D0;

    transition: all 0.5s ease;

    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.navbar-toggler i {
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-toggler i:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.collapse.navbar-collapse hr {
    color: #FFF;
}

/**********************************/
/*              HOME              */
/**********************************/
.carousel-control-next, .carousel-control-prev {
    width: 10%;
    opacity: 1;
}

/**********************************/
/*            ABOUT US            */
/**********************************/
#about {
    padding: 80px 20px 0px;
    background-image: url("../img/backgrounda-about.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#about .box-title {
    background: rgba(0, 0, 0, 0.8);
    width: fit-content;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

#about .box-text {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    text-align: justify;
    margin-bottom: 2rem;
}

#about .active {
    background-color: #FFF;
    color: #000;
}

#about button {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 1.5rem;
}

#about button:hover {
    background-color: #FFF;
    color: #000;
}

#about button:focus {
    background-color: #FFF;
    color: #000;
}

#about h2, p, ul {
    margin-bottom: 0px;
}

/**********************************/
/*            SERVICES            */
/**********************************/
#services {
    padding: 80px 20px 0px;
    background-image: url("../img/backgrounda-services.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#services .box-title {
    background: rgba(0, 0, 0, 0.8);
    width: fit-content;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

#services .box-text {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    text-align: justify;
    margin-bottom: 2rem;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

#services .box-text:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.0.5);
    transform: scale(1.05);
}

#services .box-text h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#services .box-title h2 {
    margin-bottom: 0px;
}

/**********************************/
/*             CONTACT            */
/**********************************/
#contact {
    padding: 80px 20px 0px;
    background-image: url("../img/backgrounda-contact.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact .box-title {
    background: rgba(0, 0, 0, 0.8);
    width: fit-content;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

#contact form {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 5rem;
}

#contact input, select, textarea {
    margin-bottom: 1.5rem;
    height: 3rem;
}

#contact input:focus {
    border-color:rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 1em grey;
    box-shadow: inset 0 0 1em grey;
}

#contact select:focus {
    border-color:rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 1em grey;
    box-shadow: inset 0 0 1em grey;
}

#contact textarea:focus{
    border-color:rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 1em grey;
    box-shadow: inset 0 0 1em grey;
}

#contact textarea {
    height: 8rem;
}

#contact h2 {
    margin-bottom: 0px;
}

#contact button {
    border-radius: 20px;
    width: 10rem;
}

#contact button:hover {
    background-color: #FFF;
    color: #000;
}


#contact .sucess {
    padding: 10px;
    border-radius: 10px;
    height: 3rem;
    background-color: #03bb85;
    margin-bottom: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
}

#contact .error {
    padding: 10px;
    border-radius: 10px;
    height: 3rem;
    background-color: #C40233;
    margin-bottom: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
}

/**********************************/
/*             FOOTER             */
/**********************************/
#footer {
    background-color:rgba(0, 0, 0);
    padding: 10px;
    font-size: 12px;
    bottom: 0;
}

#footer .adress{
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: #FFF;
}

#footer a:hover {
    text-decoration: none;
    color: #40E0D0;
}

#footer a:active {
    text-decoration: none;
    color: #40E0D0;
}

#footer h1 {
    font-size: 18px;
}

#footer h2 {
    font-size: 16px;
}

#footer .copyright {
    padding-top: 20px;
}

#footer .copyright i {
    color: #E74C3C;
}

/**********************************/
/*          MEDIA QUERIES         */
/**********************************/
/* Small devices (mobiles, 300px and up)*/
@media (min-width: 300px){
    /* NAVBAR Content */
        .navbar-brand {
            padding-left: 0.5rem;
        }

        .navbar-brand img {
            width: 120px;
            height: 50px;
            -moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }

    /* end of NAVBAR Content */

    /* HOME Content */
        .carousel-inner {
            width: 100%;
            height: auto;
        }

        .carousel-inner img {
            object-fit: cover;
            min-height: 100vh;
            width: auto;
            display: inline-block;
        }

    /* end of HOME Content */

    /* ABOUT Content */

    /* end of ABOUT Content */

    /* SERVICES Content */

    /* end of SERVICES Content */

    /* CONTACT Content */

    /* end of CONTACT Content */

    /* ABOUT Content */

    /* end of ABOUT Content */
}
/* end of min-width width 768px */

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px){
    /* NAVBAR Content */

    /* end of NAVBAR Content */

    /* HOME Content */
        .carousel-inner img {
            max-height: 100vh;
        }
    /* end of HOME Content */

    /* ABOUT Content */
        #about .box-title {
            margin-bottom: 2.5rem;
        }

        #about .box-text {
            font-size: 20px;
            margin-bottom: 4rem;
        }

        #about button {
            margin-bottom: 2.5rem;
        }
    /* end of ABOUT Content */

    /* SERVICES Content */
        #services .box-title {
            padding: 15px 40px;
            margin-bottom: 4rem;
        }
        
        #services .box-text {
            font-size: 18px;
            padding: 20px;
            margin-bottom: 2rem;
        }

        #services .box-text h2 {
            margin-bottom: 2rem;
        }
    /* end of SERVICES Content */

    /* CONTACT Content */
        #contact form {
            max-width: 80vw;
        }

        #contact input, select, textarea {
            margin-bottom: 2rem;
            height: 3.5rem;
        }

    /* end of CONTACT Content */

    /* ABOUT Content */

    /* end of ABOUT Content */

    /* FOOTER Content */
        #footer {
            padding-left: 150px;
            padding-right: 150px
        }
    /* end of FOOTER content */
}
/* end of min-width width 768px */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px){
    /* NAVBAR Content */

    /* end of NAVBAR Content */

    /* HOME Content */
        .carousel-inner img {
            max-height: 100vh;
        }

    /* end of HOME Content */
    
    /* ABOUT Content */
        #about .box-title {
            margin-bottom: 3.5rem;
        }

        #about .box-text {
            width: 80%;
            font-size: 20px;
            margin-bottom: 5rem;
        }

        #about button {
            margin-bottom: 3.5rem;
        }

    /* end of ABOUT Content */

    /* SERVICES Content */
        #services .box-title {
            padding: 15px 40px;
            margin-bottom: 4.5rem;
            font-size: 24px;
        }
        
        #services .box-text {
            font-size: 20px;
            min-height: 243px;
        }
    /* end of SERVICES Content */

    /* CONTACT Content */
        #contact form {
            max-width: 70vw;
        }

    /* end of CONTACT Content */

    /* ABOUT Content */

    /* end of ABOUT Content */

    /* FOOTER Content */
        #footer {
            padding-left: 250px;
            padding-right: 250px
        }
    /* end of FOOTER content */
}
/* end of min-width width 992px */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
    /* NAVBAR Content */
        .navbar-brand {
            padding-left: 5rem;
        }
    /* end of NAVBAR Content */

    /* HOME Content */
        .carousel-inner img {
            max-height: 100vh;
        }

    /* end of HOME Content */

    /* ABOUT Content */
        #about .box-title {
            margin-bottom: 4rem;
        }

        #about .box-text {
            width: 70%;
            margin-bottom: 5rem;
        }

        #about button {
            margin-bottom: 4rem;
        }
    /* end of ABOUT Content */

    /* SERVICES Content */
        #services .box-text {
            max-width: 85%;
        }
    /* end of SERVICES Content */

    /* CONTACT Content */
        #contact form {
            max-width: 50vw;
        }

    /* end of CONTACT Content */

    /* ABOUT Content */

    /* end of ABOUT Content */

    /* FOOTER Content */
        #footer {
            padding-left: 375px;
            padding-right: 375px
        }
    /* end of FOOTER content */
}
/* end of min-width width 1200px */

/* Extra large devices (extra large sktops, 1600px and up) */
@media (min-width: 1600px){
    /* NAVBAR Content */

    /* end of NAVBAR Content */

    /* HOME Content */
        .carousel-inner img {
            max-height: 100vh;
        }

    /* end of HOME Content */

    /* ABOUT Content */

    /* end of ABOUT Content */

    /* SERVICES Content */
        #services .component {
            margin-right: 100px;
            margin-left: 100px;
        }
    /* end of SERVICES Content */

    /* CONTACT Content */

    /* end of CONTACT Content */

    /* ABOUT Content */

    /* end of ABOUT Content */

    /* FOOTER Content */
    #footer {
        padding-left: 600px;
        padding-right: 600px;
    }
    /* end of FOOTER content */
}
/* end of min-width width 1600px */