/* Custom CSS */
/* Imports from Bootstrap */
@import "../bootstrap/css/bootstrap.min.css";

/**********************************/
/*             SUMMARY            */
/*
    1 - GLOBAL CONFIGS
    2 - NAVBAR
    3 - HOME
    4 - ABOUT
    5 - SERVICES
    6 - CONTACT
    7 - MEDIA QUERIES
*/

/**********************************/
/*          GLOBAL CONFIGS        */
/**********************************/
*{
    margin: 0px;
    padding: 0px;
}

/**********************************/
/*              NAVBAR            */
/**********************************/
.navbar {
    min-height: 80px;
    background-color: rgba(0, 0, 0, 0.75);
}

.navbar i {
    color: #FFF;
}

.navbar-brand img {
    width: 200px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-brand img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.nav-item {
    max-height: 52px;
    margin-right: 5rem;
}

.nav-link.active {
    color: #40E0D0;
}

.navbar-nav a {
    font-size: 24px;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;

    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-nav a:hover {
    color: #40E0D0;

    transition: all 0.5s ease;

    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.navbar-toggler i {
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-toggler i:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.collapse.navbar-collapse hr {
    color: #FFF;
}

/**********************************/
/*              HOME              */
/**********************************/
.carousel-control-next, .carousel-control-prev {
    width: 10%;
    opacity: 1;
}

/**********************************/
/*            ABOUT US            */
/**********************************/


/**********************************/
/*            SERVICES            */
/**********************************/


/**********************************/
/*             CONTACT            */
/**********************************/


/**********************************/
/*          MEDIA QUERIES         */
/**********************************/
/* Small devices (mobiles, 768px and up)*/
@media (min-width: 768px){
    /* NAVBAR Content */

    /* end of NAVBAR Content */

    /* HOME Content */
        .carousel-inner {
            width: 100%;
            height: auto;
        }

        .carousel-inner img {
            object-fit: cover;
            min-height: 100vh;
            width: auto;
            display: inline-block;
        }

    /* end of HOME Content */

    /* ABOUT Content */

    /* end of ABOUT Content */

    /* SERVICES Content */

    /* end of SERVICES Content */

    /* CONTACT Content */

    /* end of CONTACT Content */

    /* ABOUT Content */

    /* end of ABOUT Content */
}
/* end of min-width width 768px */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px){
    /* NAVBAR Content */

    /* end of NAVBAR Content */

    /* HOME Content */
        .carousel-inner img {
            max-height: 100vh;
        }

    /* end of HOME Content */

    /* ABOUT Content */

    /* end of ABOUT Content */

    /* SERVICES Content */

    /* end of SERVICES Content */

    /* CONTACT Content */

    /* end of CONTACT Content */

    /* ABOUT Content */

    /* end of ABOUT Content */
}
/* end of min-width width 992px */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
    /* NAVBAR Content */
        .navbar-brand {
            padding-left: 5rem;
        }
    /* end of NAVBAR Content */

    /* HOME Content */
        .carousel-inner img {
            max-height: 100vh;
        }

    /* end of HOME Content */

    /* ABOUT Content */

    /* end of ABOUT Content */

    /* SERVICES Content */

    /* end of SERVICES Content */

    /* CONTACT Content */

    /* end of CONTACT Content */

    /* ABOUT Content */

    /* end of ABOUT Content */
}
/* end of min-width width 1200px */

/* Extra large devices (extra large sktops, 1600px and up) */
@media (min-width: 1600px){
    /* NAVBAR Content */

    /* end of NAVBAR Content */

    /* HOME Content */
        .carousel-inner img {
            max-height: 100vh;
        }

    /* end of HOME Content */

    /* ABOUT Content */

    /* end of ABOUT Content */

    /* SERVICES Content */

    /* end of SERVICES Content */

    /* CONTACT Content */

    /* end of CONTACT Content */

    /* ABOUT Content */

    /* end of ABOUT Content */
}
/* end of min-width width 1600px */